---
title: Bitrise DevCenter
---

<h1>Bitrise DevCenter</h1>
<div id="postline"></div>

<p>Welcome to the Bitrise DevCenter! Here you will find articles, guides and tutorials to help you with Bitrise.</p>

<p>Bitrise is a <a href="http://en.wikipedia.org/wiki/Continuous_integration" target="_blank">Continuous integration</a> and <a href="http://en.wikipedia.org/wiki/Continuous_delivery" target="_blank">Continuous delivery</a> Platform as a Service (<a href="http://en.wikipedia.org/wiki/Platform_as_a_service" target="_blank">PaaS</a>) that helps you automate your build and delivery workflow and to reduce the risks during the development of your iOS apps.</p>
<div id="postline_after"></div>

<h2>Open source and contribution</h2>
<p>
  If you want to contribute to the DevCenter you
  can <a href="https://github.com/bitrise-io/devcenter" target="_blank">fork the project on GitHub</a> and
  send us a pull request with your corrections or new content.
  You can also leave a comment at the bottom of any page.
</p>
<p>We really appreciate every contribution and we try to respond as quickly as we can.</p>

<h2>Structure of the DevCenter</h2>
<p>
  The DevCenter is separated into two parts:
</p>

<h3><a href="/docs/index.html">Documentation</a></h3>

<p>
  You can find the documentation of how Bitrise works,
  introduction, getting started guides
  and the Frequently Asked Questions in this section.
</p>

<p>
  If you're new to Bitrise the Documentation section
  is a good place to start reading and learning about the service.
</p>

<h3><a href="/tutorials/index.html">Tutorials</a></h3>

<p>
  Tutorials and examples by the Bitrise Team and by the Community
  of how Bitrise can be used in real life projects.
</p>

<p>
  You can check the tutorials section for great tips and tricks
  to speed up your development process.
</p>
