---
title: Concrete DevCenter
---

<h1>Concrete DevCenter</h1>
<p>Welcome to Concrete DevCenter! Here you will find articles and guides to help you start with Concrete.</p>
<p>Concrete is a cloud based continuous delivery platform that helps you automate your build and delivery workflow and to reduce the risks during software development</p>

<p><a href="/how-concrete-works.html">How Concrete Works</a></p>
<p><a href="/code-security.html">Code Security</a></p>
<p><a href="/build-url-hooks.html">Build URL Hooks</a></p>
<p><a href="/step-dev.html">Step Dev</a></p>
<p><a href="/workflow-examples.html">Workflow Examples</a></p>