---
title: Bitrise Dev Center
---

<h1>Bitrise Dev Center</h1>
<div id="postline"></div>

<p>Welcome to Bitrise Dev Center! Here you will find articles and guides to help you start with Bitrise.</p>

<p>Bitrise is a cloud based continuous delivery platform that helps you automate your build and delivery workflow and to reduce the risks during software development</p>
<div id="postline_after"></div>

<h2>Getting Started</h2>
<p><a href="/what-is-bitrise.html">What Is Bitrise</a></p>
<div id="postline_after"></div>

<p><a href="/how-bitrise-works.html">How Bitrise Works</a></p>
<div id="postline_after"></div>

<p><a href="/code-security.html">Code Security</a></p>
<div id="postline_after"></div>

<p><a href="/step-update.html">Update a Step in your Workflow</a></p>
<div id="postline_after"></div>

<h2>Advanced</h2>
<p><a href="/how-builds-work.html">How builds work</a></p>
<div id="postline_after"></div>

<p><a href="/step-dev.html">Step Dev</a></p>
<div id="postline_after"></div>

<h2>API</h2>
<p><a href="/build-url-hooks.html">Build URL Hooks</a></p>
<div id="postline_after"></div>

<h2>Workflow examples</h2>
<p><a href="/workflows/replace-project-resources-dynamically.html">Replace project resources dynamically!</a></p>
<div id="postline_after"></div>
