---
title: BitRise DevCenter
---

<h1>BitRise DevCenter</h1>
<p>Welcome to BitRise DevCenter! Here you will find articles and guides to help you start with BitRise.</p>
<p>BitRise is a cloud based continuous delivery platform that helps you automate your build and delivery workflow and to reduce the risks during software development</p>

<p><a href="/what-is-bitrise.html">What Is BitRise</a></p>
<p><a href="/how-bitrise-works.html">How BitRise Works</a></p>
<p><a href="/code-security.html">Code Security</a></p>
<p><a href="/how-builds-work.html">How builds work</a></p>
<p><a href="/build-url-hooks.html">Build URL Hooks</a></p>
<p><a href="/step-dev.html">Step Dev</a></p>
<p><a href="/workflow-examples.html">Workflow Examples</a></p>