---
title: Bitrise Dev Center
---

<h1>Bitrise Dev Center</h1>
<p>Welcome to Bitrise Dev Center! Here you will find articles and guides to help you start with Bitrise.</p>
<p>Bitrise is a cloud based continuous delivery platform that helps you automate your build and delivery workflow and to reduce the risks during software development</p>

<p><a href="/what-is-bitrise.html">What Is Bitrise</a></p>
<p><a href="/how-bitrise-works.html">How Bitrise Works</a></p>
<p><a href="/code-security.html">Code Security</a></p>
<p><a href="/how-builds-work.html">How builds work</a></p>
<p><a href="/build-url-hooks.html">Build URL Hooks</a></p>
<p><a href="/step-dev.html">Step Dev</a></p>
<p><a href="/workflow-examples.html">Workflow Examples</a></p>