---
title: Bitrise DevCenter
---

<h1>Bitrise DevCenter</h1>
<div id="postline"></div>

<p>Welcome to the Bitrise DevCenter! Here you will find articles, guides and tutorials to help you with Bitrise.</p>

<p>Bitrise is a <a href="http://en.wikipedia.org/wiki/Continuous_integration" target="_blank">Continuous integration</a> and <a href="http://en.wikipedia.org/wiki/Continuous_delivery" target="_blank">Continuous delivery</a> Platform as a Service (<a href="http://en.wikipedia.org/wiki/Platform_as_a_service" target="_blank">PaaS</a>) that helps you automate your build and delivery workflow and to reduce the risks during the development of your iOS apps.</p>
<div id="postline_after"></div>

<h2>Work in progress</h2>
<p>The DevCenter is still under active development, you'll find a lot of unfinished articles. We're working on finishing every article and on improving the exisiting ones.</p>
<p>If you want to contribute to the DevCenter you can <a href="https://github.com/bitrise-io/devcenter" target="_blank">fork the project on GitHub</a> and send us a pull request with your corrections or added content. You can also leave a comment at the bottom of the article.</p>
<p>We really appreciate every contribution and we try to respond as quickly as we can.</p>

<h2>Documentation</h2>

<h3>Getting Started</h3>
<p><a href="/docs/what-is-bitrise.html">What Is Bitrise</a></p>
<div id="postline_after"></div>

<p><a href="/docs/how-bitrise-works.html">How Bitrise Works</a></p>
<div id="postline_after"></div>

<p><a href="/docs/code-security.html">Code Security</a></p>
<div id="postline_after"></div>

<p><a href="/docs/step-update.html">Update a Step in your Workflow</a></p>
<div id="postline_after"></div>

<p><a href="/docs/xcode-version-support.html">Xcode version support</a></p>
<div id="postline_after"></div>

<h3>Advanced</h3>
<p><a href="/docs/how-builds-work.html">How builds work</a></p>
<div id="postline_after"></div>

<p><a href="/docs/step-dev.html">Step Dev</a></p>
<div id="postline_after"></div>

<h3>API</h3>
<p><a href="/docs/api/build-trigger-api.html">Build Trigger API</a></p>
<div id="postline_after"></div>


<h2>Tutorials</h2>

<p><a href="/tutorials/replace-project-resources-dynamically.html">Replace project resources dynamically!</a></p>
<div id="postline_after"></div>
